<ion-header class="ion-no-border">
  <ion-toolbar class="gradient-header">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Galería</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/list">
        <ion-icon name="list-outline" slot="icon-only"></ion-icon>
        <ion-label>Lista</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient-background">
  <div class="content-container">
    <ion-card class="upload-card fade-in">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="add-circle-outline"></ion-icon>
          Nuevo Registro
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-layout">
          <ion-button expand="block" class="upload-button" (click)="pickImage()">
            <ion-icon name="image-outline" slot="start"></ion-icon>
            Seleccionar Imagen
          </ion-button>
          
          <div class="image-container">
            <div class="image-preview" *ngIf="imagePreview">
              <img [src]="imagePreview" alt="Vista previa" class="preview-img">
            </div>
            <div class="image-placeholder" *ngIf="!imagePreview">
              <ion-icon name="image-outline"></ion-icon>
              <p>Vista previa de imagen</p>
            </div>
          </div>
          
          <ion-item lines="none" class="custom-input">
            <ion-label position="floating">Descripción</ion-label>
            <ion-input formControlName="description" type="text"></ion-input>
          </ion-item>
          
          <div class="validation-error" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">
            <ion-text color="danger">
              Descripción es obligatoria.
            </ion-text>
          </div>
          
          <ion-button expand="block" type="submit" class="save-button" [disabled]="form.invalid || !imageFile">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            {{ isLoading ? 'Guardando...' : 'Guardar' }}
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/list">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>