<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bienvenido a ImageCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu galería personal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Organiza y guarda tus imágenes de forma segura.</p>
      <ion-button expand="block" routerLink="/gallery">
        Ir a la Galería
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
